name: windows-build

on: [push,pull_request]

jobs:
  windows-build:
    runs-on: windows-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v1
    
    - name: Download_OpenCL_Headers
      shell: powershell
      run: git clone --branch v2020.03.13 https://github.com/KhronosGroup/OpenCL-Headers/

    - name: Download_OpenCL_Libraries
      shell: powershell
      run: git clone --branch v2020.03.13 https://github.com/KhronosGroup/OpenCL-ICD-Loader/

    - name: Install_OpenCL
      shell: powershell
      run: mkdir build ; .\.WinSetup\winSetup.ps1

    - name: Config OpenCL
      run: .\.WinSetup\configOCL.ps1

    - name: print OCLPATH
      run: Get-ChildItem env:

    - name: Run_Cmake
      working-directory: build
      run: cmake ..

    - name: Build
      working-directory: build
      run: cmake --build .
